@model UpdateFeatureDto

@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araç Özelliği Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Araç ile ilgili temel özellikleri aşağıdaki kutucuğa girebilirsiniz. Veri girişinden sonra kaydet butonuna tıklayarak güncelleme işlemini tamamlayabilirsiniz.</p>
                        <form method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="FeatureId" />
                                <label for="exampleInputName">Özellik Adı</label>
                                <input type="text" class="form-control" id="exampleInputName1" asp-for="Name" placeholder="Özellik adı yazınız">
                            </div>
                            <div class="d-flex justify-content-end mt-4 none-border">
                                <button type="submit" class="btn btn-outline-success mr-3">Özelliği Kaydet</button>
                                <a href="/AdminFeature/Index/" class="btn btn-outline-danger mr-0">Vazgeç</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>