@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!-- SignalR kütüphanesinin minified sürümünü dahil edilir -->
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

@section Scripts
{
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <!-- JavaScript kodu içinde SignalR bağlantısını başlatılır -->
                        <script type="text/javascript">
                            $(document).ready(() =>{

                                // SignalR ile Hub bağlantısı kurulur
                                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44347/CarHub").build();

                                // Bağlantı durumu başlangıçta ekranda gösterilir
                                $("#constatus1").text(connection.state);

                                 // Bağlantı başarılı olduğunda yapılacak işlemler
                                connection.start().then(() => {
                                  // Bağlantı başarılı olduğunda durumu güncellenir
                                      $("#constatus1").text(connection.state);
                                    // Her 1 saniyede bir "SendCarCount" metodunu çağırılır
                                    // Bu metod API'den araba sayısını alır
                                      setInterval(() => {
                                          connection.invoke("SendCarCount");
                                      }, 1000);
                                }).catch((err) => {
                                       // Eğer bağlantı kurulamazsa hata mesajı gösterilir
                                    console.log(err);
                                     $("#constatus1").text("Bağlantı kurulamadı!");
                                });

                                 // "ReceiveCarCount" mesajı alındığında arabaların sayısını ekrana yazdırılır
                                connection.on("ReceiveCarCount", (car) => {
                                     // API'den alınan araba sayısını ekranda gösterilır
                                    $("#carcount").text(car);
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="alert alert-info">
            Bağlantının Durumu: <strong id="constatus"></strong>
        </div>
    </div>
    <div class="col-md-8 offset-2">
        <div class="alert alert-danger">
            Araba Sayısı: <strong id="carcount"></strong>
        </div>
    </div>
</div>