@model UpdateTestimonialDto

@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Referans Sayfası Veri Düzenleme Alanı</h4>
                        <p class="card-subtitle mb-4">Referans ekleme işleminin yapıldığı sayfamızdır. Bilgileri eksiksiz olarak doldurup kaydet butonuna tıklamanız yeterlidir.</p>
                        <form method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="TestimonialId" />
                                <label for="exampleInputName">Referans Ad Soyad</label>
                                <input type="text" class="form-control" id="exampleInputName1" asp-for="Name" placeholder="Referans Adı ve Soyadını Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputTitle">Referans Unvanı</label>
                                <input type="text" class="form-control" id="exampleInputTitle1" asp-for="Title" placeholder="Referans Unvanını Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageUrl">Referans Görsel</label>
                                <input type="text" class="form-control" id="exampleInputImageUrl1" asp-for="ImageUrl" placeholder="Görsel Seçiniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageUrl">Referans Yorumu</label>
                                <textarea rows="5" asp-for="Comment" class="form-control" placeholder="Yorumunuzu Buraya Yazabilirsiniz."></textarea>
                            </div>
                            <div class="d-flex justify-content-end mt-4 none-border">
                                <button type="submit" class="btn btn-outline-success mr-3">Referansı Kaydet</button>
                                <a href="/Admin/AdminTestimonial/Index/" class="btn btn-outline-danger mr-0">Vazgeç</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>