@model UpdateAuthorDto

@{
    ViewData["Title"] = "UpdateAuthor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Banner Bilgisi Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Yazar alanında veri güncellemeyi aşağıdaki panelden yapabilirsiniz.</p>
                        <form method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="AuthorId" />
                                <label for="exampleInputName">Ad Soyad</label>
                                <input type="text" class="form-control" id="exampleInputName1" asp-for="AuthorName" placeholder="Yazar adı soyadı yazınız">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Yazarın Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescription1" asp-for="Description" placeholder="Açıklamayı yazınız">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageUrl">Video URL</label>
                                <input type="text" class="form-control" id="exampleInputImageUrl1" asp-for="ImageUrl" placeholder="Yazarın fotoğraf linkini giriniz">
                            </div>
                            <div class="d-flex justify-content-end mt-4 none-border">
                                <button type="submit" class="btn btn-outline-success mr-3">Yazarı Kaydet</button>
                                <a href="/Admin/AdminAuthor/Index/" class="btn btn-outline-danger mr-0">Vazgeç</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>