@model UpdateBrandDto

@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Marka Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Marka ile ilgili bilgileri aşadağıki kutucağa giebilirsiniz. Veri girişinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>
                        <form method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="BrandId" />
                                <label for="exampleInputName">Marka Adı</label>
                                <input type="text" class="form-control" id="exampleInputName1" asp-for="Name" placeholder="Marka adı yazınız">
                            </div>
                            <div class="d-flex justify-content-end mt-4 none-border">
                                <button type="submit" class="btn btn-outline-success mr-3">Markayı Kaydet</button>
                                <a href="/AdminBrand/Index/" class="btn btn-outline-danger mr-0">Vazgeç</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>